---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="关于零一格物"
	pubDate={new Date('August 08 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		01WORLD，零一格物，向您展示人工智能、信息安全、数据治理、业务架构、Drupal建站、应用系统、云原生等内容。

	</p>
</Layout>
