---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main >
		<div class="text-center">
			<h1>零一格物</h1>
			<p class="text-center">
				欢迎您访问零一格物网站。	
			</p>
			</div>
		</main>
		<Footer />
	</body>
</html>
