---
// ChartComponent.astro
---

<div class="chart-container" id="canvas-parent-1">
  <canvas id="lmsMarketShareChart"></canvas>
</div>
<figcaption>图1：53所抽样高校主要LMS平台使用分布情况</figcaption>

<div class="chart-container" id="canvas-parent-2" style="height: 550px;">
  <canvas id="tierPreferenceChart"></canvas>
</div>
<figcaption>图2：不同层次院校主要LMS平台选择偏好对比</figcaption>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/scripts/charts.js"></script>

<style>
  .chart-container {
    margin: 2rem 0;
    height: 400px;
  }
  
  figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 0.5rem;
    color: #666;
  }
</style>